@tailwind base;
@tailwind components;
@tailwind utilities;



body{

  background-image: -webkit-linear-gradient(180deg, rgb(255, 94, 255), black);
  display: flex;
  justify-content: space-between;
  margin: 280px 65px 0px 100px;
 
   
}

.profile{

  border-radius: 200px;
  height: 390px;
  width: 600px;
  box-shadow: 0px 0px 20px black;
 


}

span{
  color: rgb(255, 131, 152);
}

.main{
  color: white;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}